GestionActividadesKevinForero/Connected Services/WsEmpleados/Empleados2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTEmpleados">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TEmpleados" nillable="true" type="tns:TEmpleados" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTEmpleados" nillable="true" type="tns:ArrayOfTEmpleados" />
  <xs:complexType name="TEmpleados">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contacto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TEmpleados" nillable="true" type="tns:TEmpleados" />
</xs:schema>